/* Gerais */

body{
    font-family: 'Roboto', sans-serif;
}

.row{
    margin: 0;
}

.container{
    padding: 70px 0;
}

p,li{
    color: #444;
    font-size: 14px;
}

/* Barra de navegação */

header, .navbar{
    background-color: #353D41;
}

#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}

#logo{
    width: 75px;
}

.navbar-brand{
    padding-bottom: 0;
    color: #FFF;
}

.navbar-brand:hover{
    color: #FFF;
}

#navbar-links a{
    color: #FFF;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem .8rem;
}

/* Slider */

.container-fluid{
    padding: 0;
}

.container-fluid{
    padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item{
    height: 90vh;
}

#mainSlider .carousel-caption {
    top: 30%; 
}

#mainSlider .carousel-caption h2{
    font-size: 50px;
    margin-bottom: 30px;
}

#mainSlider .carousel-caption p{
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
    color: #FFF; 
} 

.main-btn {
    background-color: #65DAF9;
    color: #FFF;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px ;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
}

.main-btn:hover{
    text-decoration: none;
    color: #FFF;
    background-color: transparent;
    border-color: #65DAF9;
}

.carousel-indicators .active{
    background-color: #65DAF9;
}

/* Sobre a empresa */

#about-area{
    background-color: #F9F9F9;
}

.main-title{
    color: #444;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}

.main-title::after{
    content: "";
    border-top: 2px solid #333;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
}

.about-title{
    font-size: 17px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
}

#about-list{
    list-style: none;
    padding-left: 0;
}

#about-list li{
    line-height: 30px;

}

#about-list i{
    color: #65DAF9;
    margin-right: 15px;
}

/* Serviços */

.service-box{
    text-align: center;
    margin-bottom: 50px;
}

.service-box i, .service-box h4{
    transition: .5s;
}

.service-box i{
    font-size: 36px;
    margin-bottom: 20px;
    color: #444;
}

.service-box h4{
    font-size: 24px;
    margin-bottom: 20px;
}

.service-box:hover > i, .service-box:hover > h4{
    color: #65DAF9;
}

/* Dados */

.circle-box div{
    padding: 0 40px;
}

.progressbar-text{
    font-weight: bold;
    font-size: 32px;
}

#data-area p{
    color: #FFF;
    text-align: center;
    font-size: 26px;
    margin-top: 20px;
}

/* Time */

.card-body{
    text-align: center;
}

/* Trabalhe conosco */

#apply-area{
    height: 500px;
}

#apply-area .container-fluid, #apply-area .row{
    height: 100%;
}

#apply-area .apply-box{
    text-align: center;
    padding: 70px 50px;
}

#company-img{
    background-image: url('../img/empresa.jpg');
    background-size: cover;
}

#pattern-img h4, #pattern-img p{
    color: #FFF;
}

#pattern-img h4{
    margin-top: 8%;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#pattern-img p{
    margin-bottom: 20px;
}

#apply-btn{
    display: block;
    height: auto;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: transparent;
    border-color: #FFF;
}

#apply-btn:hover{
    border-color: #65DAF9;
    background-color: #65DAF9;
}

/* Portifólio */

.project-box{
    margin-bottom: 30px;
}

#filter-btn-box{
    margin-bottom: 50px;
    text-align: center;
}

#portifolio-area .filter-btn{
    color: #444;
    border: 1px solid #444;
    background-color: transparent;
    text-transform: none;
    margin: 0 15px;
    min-width: 100px;
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    outline: none;
}

#portifolio-area .filter-btn.active, #portifolio-area .filter-btn:hover {
    color: #FFF;
    background-color: #65DAF9;
    border-color: #65DAF9;
}


